-var n = 0;
mixin class(name, day, minage, maxage, gender, startdate, enddate, starttime, endtime, price, image)
  -n++
  article.class(min-age="#{minage}" max-age="#{maxage}" gender="#{gender}" day="#{day}")
    if image
      .img-cover(style="background-image:url(https://unsplash.it/30#{n}/20#{n})")
    .inner
      h3
        a(href="/class.html")= name
      .audience
        .days
          span.day= day
        .age-range
          span Ages: 
          span.age.min= minage
          |  - 
          span.age.max= maxage
        if (gender=="F")
          .gender
            span Girls Only
        else if (gender=="M")
          .gender
            span Boys Only
      //-
        if image
          img.cover(src="https://unsplash.it/300/200")
      if block
        summary
          block
      .under-summary
        .duration
          span.start= startdate
          | -
          span.end= enddate
        .times
          span.time.start= starttime
          | -
          span.time.end= endtime
        .tuition
          span.price= price
        .signup
          a.button(href="/class.html") Learn More

mixin event(name, date, time, cost, image)
  article.event
    if image
      .img-cover(style="background-image:url(https://unsplash.it/300/200)")
    .inner
      h3= name
      //-
        if image
          img.cover(src="")
      span.cost= cost
      time.date= date
      time.time= time
      if block
        summary
          block
      a.button(href="/event.html") Learn More

mixin specialEvent(name)
  article.special-event
    .inner
      h3 Private Dance Lessons
      if block
        summary
          block
      .button-holder
        a.button(href="/event.html") Learn More